@import url(../../index.css);

.content__all--contactPortfolio{
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;


    .content_description-and-form{
        display: flex;
        align-items: center;
        gap: var(--spc-preset-4);

        .bx-introduction--contactPortfolio{
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: var(--spc-preset-5);
            margin-bottom: var(--spc-preset-3);

        .title-likeMeJob{
            font-size: var(--fts-preset-5);
            font-weight: bold;
            font-family: var(--fontF-second);
        }

        .myText-contactPortfolio{
            width: 730px;
            font-size: var(--fts-preset-6);
        }

        .bx-networdSocial{
            width: 100%;
            height: 150px;
            padding: var(--spc-preset-5);
            display: flex;
            flex-direction: column;
            align-items: center;

            .bx-iconsSocial{
                display: flex;
                align-items: center;
                gap: var(--spc-preset-5);

                .content--tooltip-and-iconsSocial{
                    position: relative;
                    transition: .3s ease;

                    .iconsSocial{
                        position: relative;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        border: 2px solid var(--colorFT-white);
                        display: flex;
                        padding: 5px;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        overflow: hidden;
                        z-index: 1;
                        transition: .3s ease;

                        &::before{
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: -100px;
                            top: -100px;
                            border-radius: 50%;
                            background-color: var(--colorFT-white);
                            z-index: -1;
                            transition: .3s ease;
                        }
                    
                        &:hover{
                            color: var(--colorBG-black);

                            &::before{
                                top: 0;
                                left: 0;
                            }
                        }
                    }

                    .tooltipIconsSocial{
                        position: absolute;
                        pointer-events: none;
                        top: -25px;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 10px;
                        font-family: var(--fontF-second);
                        text-transform: uppercase;
                        padding: 4px 1rem;
                        border-radius: 999px;
                        background-color: var(--colorFT-white);
                        color: var(--colorBG-black);
                        font-weight: bolder;
                        transition: .2s ease;
                        opacity: 0;

                        &::before{
                            content: '';
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            background-color: var(--colorFT-white);
                            top: -9px;
                            left: 50%;
                            transform: translateX(-50%);
                            --triangle-shape: polygon(50% 0, 100% 100%, 0 100%);
                            clip-path: var(--triangle-shape);
                        }
                    }

                    &:hover{
                        .tooltipIconsSocial{
                            top: 40px;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .content__form-contactPortfolio{
        width: fit-content;
        padding: var(--spc-preset-4);
        border-radius: 12px;
        background-color: var(--colorBG-black);
        filter: drop-shadow(0px 6px 3px rgba(0, 0, 0, 0.396));

        .content-sections-name-email-message{
            label{
                font-size: 12px;
                font-weight: bold;
                display: block;
                margin-bottom: var(--spc-preset-7);
                text-transform: uppercase;
            }

            input{
                width: 100%;
                height: 40px;
                background-color: transparent;
                border: none;
                border-bottom: 2px solid hsl(0, 0%, 100%, 15%);
                color: var(--colorFT-white);
                outline: none;
                transition: .3s ease;
                
            }

            .bx-section-firsName--and--lastName{
                display: flex;
                margin-bottom: 2rem;
                gap: var(--spc-preset-3);
            }

            .bx-label--and--inputs__contact-portfolio{margin-bottom: 2rem;}

            .bx-messageUsuary{
                width: 100%;
                margin-bottom: 3rem;

                .messageUsuary{
                    width: 100%;
                    height: 90px;
                    resize: none;
                    outline: none;
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid hsl(0, 0%, 100%, 15%);
                    color: var(--colorFT-white);
                    transition: .3s ease;
                }
            }
        }

        .bx-buttonSection{
            display: flex;
            justify-content: center;

            .submitMessage{
                position: relative;
                width: 200px;
                height: 40px;
                border-radius: 999px;
                outline: none;
                border: none;
                color: var(--colorFT-white);
                font-weight: bolder;
                font-family: var(--fontF-second);
                background-color: var(--colorBG-black);
                cursor: pointer;
                overflow: hidden;
                z-index: 1;
                transition: all .3s ease;

                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: linear-gradient(-90deg, var(--colorFT-white), transparent);
                    left: 0;
                    bottom: 0;
                    z-index: -1;
                    animation: linearSmooth 2s linear infinite;
                }

                &:hover{
                    background-color: var(--colorFT-white);
                    color: var(--colorBG-black);
                    box-shadow: 0 0 5px var(--colorFT-white),
                            0 0 25px var(--colorFT-white),
                            0 0 50px var(--colorFT-white),
                            0 0 100px var(--colorFT-white);
                }
            }
        }
    }
    }
}

.input-active{
    border-color: var(--colorFT-white) !important;
}

.input-error{border-color: brown !important;}

.error-message{
    display: block;
    color: brown;
    font-size: 12px;
    margin-top: 4px;
    font-weight: bold;
}

@keyframes linearSmooth {
    0%{left: -100%;}
    50%, 100%{left: 100%;}
}

@media screen and (max-width: 835px) {
    .content__all--contactPortfolio{
        height: 100%;
        gap: 0;
        
        .content_description-and-form{
            flex-direction: column;
            gap: 0;
            
            .bx-introduction--contactPortfolio{
                width: 100%;
                height: fit-content;
                margin: 0;
                
                .myText-contactPortfolio{width: 100%;}
            }
        }
    }
}

@media screen and (min-width: 319px) and (max-width: 441px){
    .content__all--contactPortfolio{

        .content_description-and-form{
            .myText-contactPortfolio{
                width: 100%;
                font-size: 17px !important;
            }
        }
    }
}