@import url(../../index.css);

.titleJobs {
    display: block;
    color: var(--colorFT-white);
    font-weight: bold;
    font-family: var(--fontF-second);
    font-size: var(--fts-preset-2);
    margin-bottom: var(--spc-preset-3);
}

.proyectPortfolio-contentAll{
    position: relative;

    .proyectPortfolio-bx-titleProyects{
        display: flex;
        justify-content: center;
        margin-bottom: var(--spc-preset-4);

        .bx-titleProyects{
            position: relative;
            background-color: var(--colorFT-white);
            padding: 2px var(--spc-preset-5);
            border-radius: 9px;
            display: flex;
            align-items: center;
            gap: 10px;
            transition: all .5s ease;
            cursor: default;
            border: 2px solid transparent;
            overflow: hidden;
            z-index: 2;
            color: var(--colorBG-black);

            .circle{
                display: block;
                width: 10px;
                height: 10px;
                background-color: var(--colorBG-black);
                border-radius: 50%;
                transition: .5s ease;
            }

            .titleProyects{
                font-weight: bolder;
            }

            &::before{
                content: '';
                position: absolute;
                width: 0;
                background-color: var(--colorBG-black);
                height: 100%;
                left: 0;
                top: 0;
                transition: .5s ease;
                z-index: -1;
            }

            &:hover{
                color: var(--colorFT-white);

                .circle{background-color: var(--colorFT-white);}

                &::before{width: 100%;}
            }
        }
    }

    .proyectPortfolio-content-proyectsCards{
        display: flex;
        flex-direction: column;
        align-items: center;

        .bx-proyectsCards{
            display: flex;
            justify-content: center;
            gap: var(--spc-preset-2);
            align-items: center;
            width: 100%;
        }

        .bx-moreProyects{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--spc-preset-7);
            color: var(--colorFT-white);
            cursor: pointer;
            margin-top: 2rem;

            .moreProyects{
                font-size: var(--fts-preset-4);
                text-decoration: underline;
            }
            .bx-iconArrowRight{
                display: flex;
                align-items: center;
            }
        }
    }

    .content__modalState {
        position: fixed;
        width: 1300px;
        height: 700px;
        background-color: var(--colorCARD-blackGray);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        padding: 5rem;
        border-radius: 24px;
        
        .bx-contentALL-proyectsPortfolio{
            overflow-y: scroll;
            overflow-x: hidden;
            height: 100%;

            .titleJobs{text-align: center;}

            .bx-proyectsCards{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: fit-content;
                height: fit-content;
                gap: var(--spc-preset-4);
                backface-visibility: hidden;
                will-change: transform, opacity;
            }
        }

        .closeModal{
            position: absolute;
            right: 1rem;
            top: 1rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
        }
    }

    .modal--visible {
        visibility: visible;
        animation: showModalTransition 0.1999s forwards;
    }
    
    .modal--hidden {
        animation: closeModalTransition 0.5s forwards;
    }
}

@keyframes showModalTransition {
    from {
        transform: translate(-80%, -80%);
    }

    to {
        transform: translate(-50%, -50%);
    }
}

@keyframes closeModalTransition {
    from {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: translate(50%, 60%);
        opacity: 0;
    }
}