@import url(../../index.css);

.titleJobs {
    display: block;
    color: var(--colorFT-white);
    font-weight: bold;
    font-family: var(--fontF-second);
    font-size: var(--fts-preset-5);
    margin-bottom: var(--spc-preset-3);
}

.proyectPortfolio-contentAll{
    position: relative;

    .proyectPortfolio-content-proyectsCards{
        display: flex;
        flex-direction: column;
        align-items: center;

        .bx-proyectsCards{
            display: flex;
            justify-content: center;
            gap: var(--spc-preset-2);
            align-items: center;
            width: 100%;
        }

        .bx-moreProyects{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--spc-preset-7);
            color: var(--colorFT-white);
            cursor: pointer;
            margin-top: 2rem;

            .moreProyects{
                font-size: var(--fts-preset-4);
                text-decoration: underline;
            }
            .bx-iconArrowRight{
                display: flex;
                align-items: center;
            }
        }
    }

    .content__modalState {
        position: fixed;
        width: 1300px;
        height: 700px;
        background-color: var(--colorCARD-blackGray);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        padding: 5rem;
        border-radius: 24px;
        
        .bx-contentALL-proyectsPortfolio{
            overflow-y: scroll;
            overflow-x: hidden;
            height: 100%;

            .titleJobs{text-align: center;}

            .bx-proyectsCards{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: fit-content;
                height: fit-content;
                gap: var(--spc-preset-4);
                backface-visibility: hidden;
                will-change: transform, opacity;
            }
        }

        .closeModal{
            position: absolute;
            right: 1rem;
            top: 1rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            z-index: 9999;
        }
    }

    .modal--visible {
        visibility: visible;
        animation: showModalTransition 0.1999s forwards;
    }
    
    .modal--hidden {
        animation: closeModalTransition 0.5s forwards;
    }
}

@keyframes showModalTransition {
    from {
        transform: translate(-80%, -80%);
    }

    to {
        transform: translate(-50%, -50%);
    }
}

@keyframes closeModalTransition {
    from {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: translate(50%, 60%);
        opacity: 0;
    }
}

@media screen and (max-width: 835px) {
    .proyectPortfolio-contentAll{
        width: 100%;

        .proyectPortfolio-content-proyectsCards{
            .bx-proyectsCards{
                flex-direction: column;
            }
        }


        .content__modalState{
            width: 100%;
            height: 100%;
            border-radius: 0;
        }
    }
}

@media screen and (min-width: 319px) and (max-width: 441px){
    .proyectPortfolio-contentAll{
        .content__modalState{
            padding: 1rem;
        }
    }
}