@import url(../../index.css);

.proyectPortfolio-contentAll{
    .proyectPortfolio-bx-titleProyects{
        display: flex;
        justify-content: center;
        margin-bottom: var(--spc-preset-4);

        .bx-titleProyects{
            position: relative;
            background-color: var(--colorFT-white);
            padding: 2px var(--spc-preset-5);
            border-radius: 9px;
            display: flex;
            align-items: center;
            gap: 10px;
            transition: all .5s ease;
            cursor: default;
            border: 2px solid transparent;
            overflow: hidden;
            z-index: 2;
            color: var(--colorBG-black);

            .circle{
                display: block;
                width: 10px;
                height: 10px;
                background-color: var(--colorBG-black);
                border-radius: 50%;
                transition: .5s ease;
            }

            .titleProyects{
                font-weight: bolder;
            }

            &::before{
                content: '';
                position: absolute;
                width: 0;
                background-color: var(--colorBG-black);
                height: 100%;
                left: 0;
                top: 0;
                transition: .5s ease;
                z-index: -1;
            }

            &:hover{
                color: var(--colorFT-white);

                .circle{background-color: var(--colorFT-white);}

                &::before{width: 100%;}
            }
        }
    }

    .proyectPortfolio-content-proyectsCards{
        display: flex;
        flex-direction: column;
        align-items: center;

        .titleJobs{
            display: block;
            color: var(--colorFT-white);
            font-weight: bold;
            font-family: var(--fontF-second);
            font-size: var(--fts-preset-2);
            margin-bottom: var(--spc-preset-3);
        }

        .bx-proyectsCards{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: var(--spc-preset-4);
        }

        .bx-moreProyects{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--spc-preset-7);
            color: var(--colorFT-white);
            cursor: pointer;
            margin-top: 2rem;

            .moreProyects{
                font-size: var(--fts-preset-4);
                text-decoration: underline;
            }
            .bx-iconArrowRight{
                display: flex;
                align-items: center;
            }
        }
    }
}