@import url(../../../index.css);

.content__rowExperience{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .name--and--monthTecnology-exp{
        display: flex;
        flex-direction: column;
        gap: var(--spc-preset-7);

        .nameTecnology{
            font-size: var(--fts-preset-6);
            font-weight: bold;
        }

        .bx-titleExperience{
            display: flex;
            align-items: center;
            gap: var(--spc-preset-7);
            color: var(--colorFT-gray);
            font-size: var(--fts-preset-7);
            font-weight: bold;

            .circle{
                width: 5px;
                height: 5px;
                background-color: var(--colorFT-gray);
                border-radius: 50%;
            }
        }
    }

    .descriptionTecnology{
        width: fit-content;
        text-align: center;
        font-size: var(--fts-preset-4);
    }

    .name--and--monthTecnology{
        display: flex;
        align-items: end;
        flex-direction: column;
        gap: var(--spc-preset-7);

        .namePlatform{
            padding: 2px 8px;
            background-color: var(--colorFT-white);
            color: var(--colorBG-black);
            font-weight: bold;
            width: fit-content;
            border-radius: 8px;
            cursor: pointer;
        }

        .nameMaster{
            font-size: var(--fts-preset-7);
            color: var(--colorFT-gray);
            font-weight: bold;
        }
    }
}