@import url(./index.css);

.content__allSection-portfolioAboutMe{
    color: var(--colorFT-white);
    height: 100%;
    padding: 4rem 0;
}

.content__allSection-portfolioProjects{padding: 4rem var(--spc-preset-1);}