@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Kdam+Thmor+Pro&family=Keania+One&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kdam+Thmor+Pro&family=Keania+One&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  /*COLORS*/
  --colorBG-black: #121212;
  --colorFT-white: #E2EBF0;
  --colorCARD-blackGray: #181818;
  --colorFT-gray: #6C6C6C;
  --colorIconSkills: #222222;


  /*FONT SIZES*/
  --fts-preset-1: 200px;
  --fts-preset-2: 44px;
  --fts-preset-3: 18px;
  --fts-preset-4: 14px;
  --fts-preset-5: 50px;
  --fts-preset-6: 22px;
  --fts-preset-7: 12px;
  --sizeWorkSection: 10rem;

  /*FONT FAMILY*/
  --fontF-general: "Jura", sans-serif;
  --fontF-second: "K2D", sans-serif;

  /*SPACING*/
  --spc-preset-1: 88px;
  --spc-preset-2: 64px;
  --spc-preset-3: 45px;
  --spc-preset-4: 32px;
  --spc-preset-5: 16px;
  --spc-preset-6: 8px;
  --spc-preset-7: 4px;
  --spc-preset-8: 2px;
}

.spacerPage{
  padding: 0 var(--spc-preset-1);
}


.line{
  display: block;
  width: 100%;
  height: 2px;
  background-color: hsl(0, 0%, 42%, 25%);
  border-radius: 999px;
}

.html{color: #E44D26;}
.css{color: #1572B6;}
.react{color: #61DAFB;}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontF-general);
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;

  body{
    background-color: var(--colorBG-black);
    height: 100%;
  }
}

.success-message {
  position: fixed;
  width: fit-content;
  height: fit-content;
  padding: 8px 1rem;
  background-color: rgba(70, 232, 0, 0.189);
  border: 2px solid green;
  border-radius: 18px;
  font-size: 12px;
  font-family: var(--fontF-second);
  font-weight: bold;
  opacity: 0;
  z-index: 1000;
  left: -500px;
  bottom: 2rem;
  overflow: hidden;
  transition: all .5s ease-in-out;
  text-transform: uppercase;
  

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(-90deg, rgb(0, 255, 140), transparent);
    left: -100%;
    bottom: 0;
    animation: translateXTooltip 2s ease-in-out infinite;
  }
}

.activeTooltip-success-msg {
  opacity: 1;
  animation: activeTranslateXTooltip .5s ease-in-out forwards;
}
.disableTooltip{
  opacity: 0;
  animation: disableTranslateXTooltip 2s ease-in-out forwards;
}

@keyframes translateXTooltip {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

@keyframes activeTranslateXTooltip {
  from{left: -500px;}
  to{left: 2rem;}
}

@keyframes disableTranslateXTooltip {
  from{left: 2rem;}
  to{left: -500px;}
}

@media screen and (max-width: 835px) {
  .spacerPage{
    padding: 0 4rem;
  }

  .txt{font-size: 15px;}
}


@media screen and (min-width: 319px) and (max-width: 441px){
  body{--fts-preset-5: 40px}

  .spacerPage {
    padding: 0 1rem;
  }

  .txt{font-size: 14px;}
}
